body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;

    background-image: url("images/background.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    min-height: 100vh;
}

.main-container {
    max-width: 1000px;
    margin: auto;
    padding: 40px;
    background: rgba(255, 255, 255, 0.62);
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0,0,0,0.35);
}

.perk-frame {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 10px;
    background-image: url("images/perk_bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

img {
    margin: 10px;
}

.killer-image {
    width: 300px;
}

.perk-image {
    width: 128px;
}

#addons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#addons img {
    width: 100px;
}

.perk-selects {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

select {
    padding: 8px;
    width: 250px;
}

.buttons {
    margin-top: 30px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

#end-message {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: red;
}